<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="static/style.css">
	<link rel="preconnect" href="https://fonts.gstatic.com"> 
	<link href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>
	<div class="content">
		<img src="static/img/hi.svg" alt="" class="hi">
	  	<div class="hi-cont">
		  	<div class="text-cont">
			  	<p class="text">Привет - это Random Web. <br> Я генерирую случайное число каждые 5 секунд. <br> Если хочешь увидеть, войди или зарегистрируйся.
			  </p>
		  </div>
				<div class="btn-cont">
					<button class="btn1 btn">вход</button>
					<button class="btn2 btn">регистрация</button>
		</div>
			</div>
	</div>
	<img src="static/img/numbes1.svg" alt="" class="numbers1">	
</body>
</html>