{% extends 'sign.html' %}
{% load static %}

{% block head %}регистрация{% endblock %}
{% block content %}
	<form action="" method="post" class="forms" id="signup-form">
		{% csrf_token %}
		{{ form.username }}<br>
		<p class="alert login-a">логин занят</p>
		<p class="alert login-b">логин занят</p>
		{{ form.password1 }}<br>
		<p class="alert pass1-a">логин занят</p>
		{{ form.password2 }}<br>
		<p class="alert pass2-a">пароли не совпадают</p>
		<button class="btn btn-form" type="">войти</button>
	</form>
{% endblock %}
{% block script %}{% static 'signupScript.js' %}{% endblock %}